* {
    outline: dotted 1px lime;
}

body {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#screen {
    height: 100px;
    width: 400px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}